@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {
  
  > ul {
    display: flex;
    flex-direction: row;
    > li {
      margin-right: 15px;
      margin-left: 15px;

    }
  }

  span {
    
  }
}

.subscribe {

}

.log {
}
.right-nav  {


  
 

  > ul {
      flex-direction: row;
      display: flex;
    > li {
      margin-right: 3px;
      margin-left: 3px;

  
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    