@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  
}

.left-nav {

  > ul {
    display: flex;
    flex-direction: row;
    > li {

    }
  }

  span {
    
  }
}

.subscribe {
  background-color: blue;
  border: none;
}

.log {
  background-color: aqua;
  outline: none;
}
.right-nav  {
  display: flex;
  flex-direction: row;

  > ul {

 
    > li {
    
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  
}

    