<div class="masthead">
<nav class="language-nav">

<a href="http://google.com">CSS</a> 
<a href="http://google.com">HTML</a> 
<a href="http://google.com">Javascript</a>  
<a href="http://google.com">Ruby</a> 
</nav>
<p class="logo">App Academy Times</p>
Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%

</div>